/*common style start */

.font-32{
    font-size: 32px;
    font-weight: bold;
}

.font-40{
    font-size: 40px;
    font-weight: bold;
}

.font-21{
    font-size: 21px;
    font-weight: 600;
}

.bottom-17{
    padding: 5px 17px;
    background-color: #318f17;
    border-radius: 10px;
}

.bottom-13{
    padding: 12px 28px;
    background-color: #318f17;
    border-radius: 10px;
    color: whitesmoke;
    font-size: 16px;
    font-weight: bold;
}
.bottom-11{
    padding: 5px 11px;
    border-radius: 10px;
}

.container-padding{
    padding: 5px 65px 10px 65px;
}

.font-20{
    font-size: 20px;
    font-weight: 600;
    color: rgb(117, 119, 122);
}

.container-bg-color{
    background-color: white;
    border-radius: 17px;
    padding: 14px;
}

.background-color-1 {
    background-color: #8dc6ac;
    border-radius: 17px;
    padding: 14px;
}
    

/* common style end */



.head-main-section {
    padding: 5px 165px 10px 165px;
    background-color: #38404c3b;
}

/* header style start */

/* nav section style start */

.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}   

.nav-section .nav-button{
    padding: 16px 37px;
    font-size: 18px;
    background-color: #edeef0;
    color: #318f17;
    border: 1px solid #318f17;
    border-radius: 5px;
    cursor: pointer;
}

/* nav section style end */

/* banner section style start */

.banner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    gap: 8px;
    padding: 15px;
}

 .banner-description-container {
    height: 400px;
    width: 44%;
    margin: 44px 30px 0px 111px;
}

.header-banner-title{
    font-size: 25px;
    font-weight: bold;
    font-weight: #5d697e;
    margin-bottom: -20px;
}

.header-banner-description{
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 41px;
}

.header-banner-button{
    background-color: green;
    border: 1px solid green;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    padding: 15px;
    cursor: pointer;
}

.banner-img-container{
    height: 400px;
    margin-right: 37px;
}

/* banner section style end */

/* main section start */

/* pillar section style start */

.pillar-title{
   margin-top: 70px;
}

.pillar-containers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 98px;
    padding: 5px;
}
/* piller section style end */

/* vision section style start */

.vision-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-bottom: 77px;
}

.vision .vision-description{
    margin-bottom: 50px;
}

.vision-item-1{
    background-color: rgb(146, 167, 241);
    border-radius: 15px;
}

.vision-item-2{
    background-color: #8dc6ac;
    border-radius: 15px;
}

.vision-item-3{
    background-color: #e8ef5f;
    border-radius: 15px;
}

.vision-item-button-1{
    background-color: rgb(57, 124, 218);
    border: 1px solid white;
    color: rgb(245, 243, 240);
    font-weight: bold;
    border-radius: 15px;
    padding: 5px 11px;
    cursor: pointer;
}
.vision-item-button-2{
    background-color: #80cf6a;
    border: 1px solid #337b20;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    padding: 5px 11px;
    cursor: pointer;
}
.vision-item-button-3{
    background-color: #c2c05a;
    border: 1px solid #d1e329;
    color: #424242;
    font-weight: bold;
    border-radius: 15px;
    padding: 5px 11px;
    cursor: pointer;
}

.vision-profile{
    margin-bottom: 60px
}

.vision-profile-container{
    background-image: url("assets/quote-bg.png");
    background-size : 79px 65px;;
    background-position: top 20px left 67px;
    background-repeat: no-repeat;
}


/* opinion section start */

.opinion-table-container table{
    height: 450px;
}

.opinion{
    margin-bottom: 150px;
}

.opinion .opinion-table{
    width: 100%;
    border-collapse: collapse;

}

.opinion-table tr, .opinion-table td{
    border: 1px solid rgb(169, 133, 133);
}

.opinion-table th, .opinion-table td {
    padding: 30px;
    font-size: 20px;
    font-weight: bold;
}

.opinion .opinion-table-border{
    border: 1px solid rgb(188, 150, 150);
    background-color:rgb(153, 237, 192)
}

.opinion-table-border>th{
    text-align: start;
    font-size: 22px;
}

.opinion-table-border .opinion-select{
    text-align: center;
    font-size: 22px;
}

.opinion-table select{
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid black;
}

.opinion-table .select-margin{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* opinion section end */


/* vision section style end */

/* news section style start */

.jazera-news{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 50px;
}

.jazera-news .jazera-headline{
    margin-top: 0px 
}

.jazera-img{
    width: 603px;
    height: 323px;
}

.jazera-img .jazera-news-img{
    width: 100%;
    height: 100%;
    border-radius: 45px;
}

.jazera-news-content{
    padding: 10px;
}

.jazera-date-time{
    margin: 27px 0px;
}

.jazera-news-container{
    margin-bottom: 20px;
}

/* news section style end */

/* donate section style start */

.donate .donate-heading, .donate-description{
    text-align: center;
}

.donate-taka{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.donate-taka h2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 55px;
}

.donate-taka-container{
    text-align: center;
}

 .donate-other-taka{
    width: 72%;
    margin-top: 20px;
    height: 55px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

.donate-total-taka:hover{
    background-color: #80cf6a;
    color: whitesmoke
}
.donate-other-taka{
    margin-bottom: 30px;
}

input::placeholder{
    text-align: center;
}

.donate-more{
    text-align: center;
    margin-bottom: 30px;
}

/* donete scetion style end */


/* newslatter scetion style start */

.newslatter{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-newslatter{

    text-align: center;
}

/* .subscribe-newslatter h2{
    margin-top: 25px;
} */

.subscribe-input{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-input input{
    display: block;
    width: 90%;
    height: 20px;
    padding: 14px;
    border: none;
}

.subscribe-input button{
    border: none;
    padding: 14px;
    cursor: pointer;
    background-color: #318f17;
}

.subscribe-input input::placeholder{
    text-align: start;
}

/* newslatter scetion style start */

/* main section end */

/* footer section start */

.bd-ing-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer{
    text-align: center;
    margin-bottom: 20px;
}

footer h3{
    display: inline-block;
}

/*footer secrion end */